body {
    margin: 0;
    padding: 0;
    background-color: #2886ba;
    font-family: 'Montserrat', sans-serif;
    background-image: url("assets/pool_bg.png");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #5fb7e8;
}

header > img {
    max-width: 40%;
}

nav {
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    background-color: #5fb7e8;
    color: white;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath fill='%23026BB1' d='M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    height: 150px;
    width: 100%;
}

footer > p {
    font-family: 'Montserrat', sans-serif;
}

main > section {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    align-self: center;
    margin-bottom: 10%;
    min-width: 20%;
    max-width: 60%;
}

main > section > p, ul {
    font-size: 1.7rem;
    text-align: justify;
}

main > section > h1 {
    text-align: center;
    font-size: 2.5rem;
}

main > section > h2 {
    text-align: center;
    font-size: 2.2rem;
    align-self: center;
}

main > section#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    min-width: 60%;
}

main > section#offer > ul {
    margin: 0;
}

main > section#offer > h3 {
    margin-top: 2em;
    font-size: 1.7em;
    align-self: center;
}

main > section#offer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 60%;
}

main > section#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > section#contact > p {
    text-align: center;
}


@media (max-width: 1200px) {
    header > img {
        max-width: 50%;
    }

    main > section {
        min-width: 80% !important;
    }
    main > section > p, ul {
        font-size: 1.7rem;
    }

    main > section > ul {

    }

    main > section > h1 {
        font-size: 2.2rem;
    }

    main > section > h2 {
        font-size: 1.9rem;
    }

    main > section#offer > h3 {
        font-size: 1.7rem;
    }

    main > section#about {
        max-width: 80%;
    }

    body {
        background-position: top right -150px;
    }
}

@media (max-width: 768px) {
    header > img {
        max-width: 80%;
    }

    nav > a {
        margin: 0;
    }

    main > section {
        min-width: 80% !important;
        max-width: 80%;
    }

    main > section > p, ul {
        font-size: 1.5rem;
    }

    main > section > h1 {
        font-size: 2rem;
    }

    main > section > h2 {
        font-size: 1.8rem;
    }
    main > section#offer > h3 {
        font-size: 1.5rem;
    }

    body {
        background-position: top right -150px;
    }
}

@media (max-width: 480px) {
    header > img {
        max-width: 100%;
    }

    nav > a {
        margin: 0;
    }

    main > section {
        width: 80%;
        max-width: 80%;
    }

    main > section > p, ul {
        font-size: 1.2rem;
    }

    main > section > h1 {
        font-size: 1.8rem;
    }

    main > section > h2 {
        font-size: 1.5rem;
    }
    main > section#offer > h3 {
        font-size: 1.2rem;
    }

    body {
        background-position: top right -150px;
    }
}